/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap'); */
:root{
  --dark-grey:#333;
  --white:#fff;
  --text-primary: #28a745;
  --text-secondary:#0284d0;
  --light:#f4f4f4;
  --dark-blue:#000733;
  --chevron-yellow:#FFCB05;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: var(--white);
  color:var(--dark-grey);
  line-height: 1.6;
}
header *{
  z-index: 100;
}

ul{
  list-style: none;
}

a{
  color: var(--dark-grey);
  text-decoration: none;
  font-size: larger;
}

h1, h2{
font-weight: 900;
line-height: 1.2;
}

p{
  margin: 1vw 0;
}

img{
  width: 100%;
}
/* Important CSS Tricks(1) */
/* Set all height values to 100% for nav, nav ul, nav li so links can fill 100% space */
nav, nav ul, nav li, nav a{
  height: 100%;
  /* border: 1px solid red; */
}
/* Important CSS Tricks(1) */


/* Navbar Styling */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-grey);
  color: var(--white);
  opacity: 0.8;
  width: 100%;
  height: 10vh;
  flex-wrap: wrap;
  /* Important CSS Tricks(2) */
  /* Set position to fixed and top to zero so navbar remains fixed while scrolling*/
  position: fixed;
  top: 0;
    /* Important CSS Tricks(2) */
  /* padding: 0 2vw; */
}

.navbar a{
  /* Important CSS Tricks(1) */
  /* when all ul and li content fits space flexbox allows content to align center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* Important CSS Tricks(1) */
  color: var(--white);
  padding: .5vw 1vw;
}
.navbar a:hover{
  box-shadow: 1px 1px 4px black;
  background-color: var(--text-primary);
  text-shadow: 1px 1px 4px black;
}

.navbar ul{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  height: 100%;
}
.hamburger{
  display: none;
}
/* Navbar Styling */

/* Header/Hero Styling */
.hero{
  background: url('../images/hero-bg.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  /* Important CSS Tricks(3) */
  /* Set position relative on main element so that using psedo selector before can add a transparent overlay */
  position: relative;
  /* Important CSS Tricks(3) */
  color: var(--white);
}
.hero .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  
}

.hero .content h1{
  margin-top: 10vh;
  font-size: 55px;
}
.hero .content p{
  font-size: 23px;
  /* max-width: 600px; */
}
/* Important CSS Tricks(3) */
/* Using psedo selector before, we create an element with content of '' and the following properties creating a transparency */
.hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/* Important CSS Tricks(3) */
/* select all elements within the .hero content and increas z-index to push content forward */
.hero *{
  z-index: 10;
}
/* Header/Hero Styling */
/* About Section Styling */
.icons{
  padding: 30px;
}

.icons h3{
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i{
  background-color: var(--text-primary);
  border-radius: 50%;
  color: var(--white);
  padding: 1rem;
}

.skills-highlight{
  background: var(--light);
  opacity: 0.9;
  color: var(--dark-grey);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}
.skills-highlight h3{
  margin: 10px;
}

.skills-highlight a{
  /* text-shadow: 1px 1px 4px black; */
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000; 
}
/* About Section Styling */
/* FOOTER */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer a{
  color: #fff;
}
.footer a:hover{
  color: #28a745;
}

.footer .social >*{
  margin-right: 30px;
}
/* FOOTER */
/* callback form */
.callback-form{
  width: 100%;
  padding: 20px 0;
}

.callback-form label{
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control{
  margin-bottom: 15px;
}
.callback-form input{
  width: 100%;
  padding: 4px;
  height: 40px;
  border: 1px #ddd solid;
}

.callback-form textarea{
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
  height: 200px;
}
/* callback form */
@media only screen and (max-width:768px){
  .flex{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width:600px){
  /* Navbar Styling */

  .navbar {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    flex: wrap;
  }
  .hamburger{
    display: inline-block;
  }

  .navbar .nav-ul{
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .navbar .nav-ul.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
    width: 100%;
    height: 90vh;
    background: var(--dark-blue);
    /* opacity: 0.9; */
    z-index: 100;
  }
  .hero .content h1{
    font-size: 28px;
  }
  .hero .content p{
    font-size: 16px;
  }
  /* Navbar Styling */
}
